<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8" style="padding-top: 150px;">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="name">UserName</label>
            <input type="name"  pattern="[A-Za-z]+" class="form-control shadow p-4 mb-4 bg-white " id="name">


          </div>
          <div class="form-group ">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control shadow p-4 mb-4 bg-white " id="pwd">
          </div>

          <button type="submit" class="btn btn-default shadow p-4 mb-4 bg-white"><a
              routerLink="/HomePage">Login</a></button>
        </form>
      </div>
      <div class="col-md-2">
      </div>

    </div>
  </div>
</body>

</html>