<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- start first Navbar -->
    <nav class="navbar  navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Test Page</a>

            <form class="d-flex">
                <img src="../../../../assets/images/RayaLogo.png" alt="RayaLogo" width="70" height="70"
                    class="ml-auto p-2">
            </form>
            <!-- </div> -->
        </div>
    </nav>
    <!-- end first Navbar -->
    <!-- start second Navbar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Home
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                    <li><a class="dropdown-item" routerLink="/Details" routerLinkActive="active" href="#">Action</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Source
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/Details" routerLinkActive="active" href="#">Action</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    AboutUs
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/Details" routerLinkActive="active">Action</a></li>

                </ul>
            </li>


        </div>
    </nav>
    <!-- end second Navbar -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <br><br>
                <button type="button" class="btn btn-warning" routerLink="/CreateUser"> Add new
                    User</button><br><br>
                <br>
                <!-- ///////////search////////////  -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="name" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                            Search
                        </button>
                    </div>
                </div>


                <!-- /////////////// -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Age</th>
                            <th scope="col">salary</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Us of UserList; let SN=index">

                            <td>{{SN+1}}</td>
                            <td>{{Us.name}}</td>
                            <td>{{Us.mobilephone}}</td>
                            <td>{{Us.age}}</td>
                            <td>{{Us.salary|currency}}</td>
                            <td>
                                <button class="btn btn-primary" routerLink="/CreateUser"
                                    [queryParams]="{ id: Us.id}">Edit</button>

                                <button (click)="deleteUser(Us.id)"  type="button"
                                    class="btn btn-danger m-2">Delete</button>

                            </td>
                            <td>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <footer>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">All Rights Reserved</a>
        </div>
    </footer>
</body>

</html>