<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <form #myForm="ngForm" (ngSubmit)="submitFor(myForm)">
                    <div>
                        <div class="submit-form">
                            <div *ngIf="!submitted">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" required [(ngModel)]="iuser.name"
                                        name="name" minlength="3" pattern="[A-Za-z]+" #name="ngModel" />

                                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                        class="alert alert-danger">


                                        <div *ngIf="name.errors.minlength">
                                            Name must be at least 3 characters long.
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="mobilephone">MobilePhone</label>
                                    <input class="form-control" id="mobilephone" required
                                        [(ngModel)]="iuser.mobilephone" name="mobilephone" [(ngModel)]="mobilePhone"
                                        pattern="[0-9]{11}" #phone="ngModel" />

                                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                                        class="alert alert-danger">


                                        <div *ngIf="phone.invalid">
                                            phone numer must containes 11 numbers
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="salary">Salary</label>
                                    <input class="form-control" id="salary" required [(ngModel)]="iuser.salary"
                                        name="salary" pattern="^[0-9]*$" #salaryn="ngModel" />
                                    <div *ngIf="salaryn.invalid && (salaryn.dirty || salaryn.touched)"
                                        class="alert alert-danger">



                                        <div *ngIf="salaryn.invalid">
                                            Must contain positive numbers Only
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <input class="form-control" id="age" required [(ngModel)]="iuser.age" name="age"
                                        pattern="[0-9]{2}" #age="ngModel" />

                                    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">


                                        <div *ngIf="age.invalid">
                                            Age must containes 2 positive numbers
                                        </div>


                                    </div>
                                </div>
                                <br>
                                <button type="submit" [disabled]="myForm.invalid" class="btn btn-success">Submit</button>
                            </div>

                            <!-- <div *ngIf="submitted">
                                <h4>Tutorial was submitted successfully!</h4>
                                <button class="btn btn-success" (click)="newUser()">Add</button>
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>